.edit-block
    cursor pointer
    font-size 16px
    position relative
.edit-block i:first-child
    margin-right 10px
.ant-card-body
    padding: 15px !important
.ant-card-extra
    padding 0
.pointName
    color #999
    font-size 12px
    letter-spacing: 1px
.dropdownPosition
    right 0
    left auto !important
    overflow auto
    height: 294px
    .ant-select-tree-switcher
        width 18px
